.*/*
!.github/*
!.vscode/settings.json
.idea
Cargo.lock
target
.*/src/link_app.S
.*/last-*
.*/Cargo.lock
.*/.gdb_history
user/build
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak